*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #1f85a3;
}

::selection{
    color: #fff;
    background-color: #1f85a3;
}
nav{
    position: fixed;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1f85a3;
    padding: 15px 10%;
    z-index: 1;
}
.logo h1{
    color: #1f85a3;
}
nav ul{
    display: flex;
}

nav ul li a{
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
    color: #000;
    transition: all .4s ease-in-out;
    text-transform: lowercase;
}
nav ul li a.active,
nav ul li a:hover{
    color: #1f85a3;
}
section{
    height: 100vh;
    overflow: hidden;
}
video{
    width: 100%;
}
.infoContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 10%;
}
.infoContainer p{
    font-size: 13px;
}
.infoContainer img{
    width: 520px;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 10px #000000;
    cursor: pointer;
    border-radius: 20px;
}
.infoContainer img:hover{
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 0;
}
.info{
   padding: 0 10% 0 0;
}
span{
    color: #1f85a3;
}
.info .btn:hover{
    transform: scale(1.1);
}
.contactBody{
    backdrop-filter: blur(15px);
}
.contactSection{
    padding: 50px 0 0 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/Assets/Images/robot.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* background: #d6e2e7; */
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    border: 1px solid #1f85a3;
}
.contactContainer:hover{
    box-shadow: 0 0 10px #000000;
}
input{
    width: 320px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border: none;
    transition: all .4s ease-in-out;
    border-bottom: 1px solid #848484;
    background: #ffffff8d;
    /* border-radius: 10px 10px 0 0; */
}
::placeholder{
    text-align: center;
    color: #ffffff;
}
textarea{
    width: 320px;
    height: 240px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid #848484;
    transition: all .4s ease-in-out;
    background: #ffffff8d;
}
input:focus, textarea:focus{
    outline: none;
    border-bottom: 1px solid red;
    /* border-radius: 0; */
}
.btn{
    text-transform: uppercase;
    background: #1f85a3;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: #1f85a3;
    background: #ffffff8d;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding: 5px 5%;
}
.icons i{
    padding: 0.5em;
    background-color: #1f85a3;
    color: #fff;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.icons i:hover{
    transform: scale(1.1);
}




/* footer */
footer{
    background: #d6e2e7;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 10%;
}
footer p:last-child{
    text-align: center;
    font-size: 10px;
}
.footer iframe{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
.footer .left i{
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    color: #000;
    transition: all .4s ease-in-out;
}
.footer .left i:hover{
    transform: scale(1.1);
    color: #1f85a3;
}